Babel==2.12.1
cffi==1.15.1
cryptography==3.4.8
future~=0.18.2
importlib-metadata==6.6.0
jeepney~=0.7.1
keyring~=23.5.0
Pillow==9.0.1
pycparser==2.21
SecretStorage~=3.3.1
tk==0.1.0
tkcalendar==1.6.1
zipp~=1.0.0
olefile~=0.46
pip~=22.0.2
wheel~=0.37.1
pytz~=2022.1
setuptools~=59.6.0
PyGObject~=3.42.1
bcrypt~=3.2.0
pandas~=2.0.1
tabulate~=0.9.0